<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>競技プログラミングライブラリ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="web/css/style.css">
</head>
<body>
<header>
    <h1>競技プログラミングライブラリ</h1>
    <nav id="menubar">
        <ul>
            {% for x in segments%}
            <li><a href="#{{x[0]}}">{{x[1]}}</a></li>
            {% endfor %}
        </ul>
        <ul>
            <li><a href="#link">リンク</a></li>
            <li><a href="#memo">メモ</a></li>
        </ul>
    </nav>
</header>
<main>
<div id="pagetop"><a href="#top"><i class="fas fa-angle-up"></i></a></div>
    {% for x in segments%}
        <section id="{{x[0]}}"><h2>{{x[1]}}</h2>
                {% for xi in x[2] %}
                <table>
                    <td id="col0">
                        <li>
                        {{xi.title}}[<a href="https://github.com/ibtosmlin/atcoder/blob/main/lib/lib/{{xi.fname}}" target="_blank">{{xi.fname}}</a>]
                        </li>
                    </td>
                    <td id="col1">
                        {% for xij in xi.subtitle %}
                            <li>
                                {{xij}}
                            </li>
                        {% endfor %}
                    </td>
                </table>
                {% endfor %}
        </section>
    {% endfor %}

    <section id="link"><h2>リンク</h2>
        <ul>
        {% for x, y in links%}
            <li>
                <a href="{{y}}" target="_blank">{{x}}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
    <section id="memo"><h2>メモ</h2>
        <ul>
        {% for x in memos%}
            <li>
                <a href="https://github.com/ibtosmlin/atcoder/blob/main/lib/lib/{{x}}" target="_blank">{{x}}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
</main>
<footer></footer>
</html>
