<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>競技プログラミングライブラリ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <h1>競技プログラミングライブラリ</h1>
    <nav id="menubar">
        <ul>
            {% for x in segments%}
            <li><a href="#{{x[0]}}">{{x[1]}}</a></li>
            {% endfor %}
        </ul>
        </nav>
</header>
<main>
    {% for x in segments%}
    <section id="{{x[0]}}"><h2>{{x[1]}}</h2>
        {% for xi in x[2] %}<ul>
        <a href="https://github.com/ibtosmlin/atcoder/blob/main/lib/lib/{{xi.fname}}" target="_blank">{{xi.fname}}</a>
            {% for xij in xi.title %}<li>
                {{xij}}{{xi.subtitle}}
            </li>{% endfor %}
        </ul>{% endfor %}
    {% endfor %}
    </section>
</main>
</html>
